        /*reset*/
        body, * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "monaco", monospace;
            font-size: 10.5px;
            margin: 0;
            border: none;
            line-height: 1.5;
            /*padding: 10px;*/
            background-color: #fefefe;
        }


        hr{
            margin-top: 1em;
            margin-bottom: 1em;
            border: 0;
            border-top: 0.1px solid #3c3c3c;

            margin-left: 5%;
            width: 90%;
            opacity: 0;
            
        }

        .main-container {
            display: flex;
            /*border: solid 1px #000;*/
            padding: 0;
        }


        .menu-bar {
            display: flex;
            height: 5vh;
            background-color: #fff;
            /*padding: 5px;*/
            align-items: center;
            position: relative;
            border-bottom: 1px solid #6c6c6c;
           /* border-top: solid 1px #000;
            border-left: solid 1px #000;
            border-right: solid 1px #000;*/
            
        }

        .menu-item {
            position: relative; /* 追加 */
            color: #000;
            padding: 5px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .menu-item:hover {
            background-color: #4d4d4d;
            color: #fff;
        }

        .menu-item:hover .dropdown-content {
            display: block;
        }



        /*############################## PROJECT COLUMN ##############################*/
        /* Project Column Styles */
        .project-column {
            /* Adjusted to account for the menu bar */
            flex: 1.5;
            min-width: 200px;
            max-width: 300px;
            background-color: #fff;
            overflow-y: auto;
            
            z-index: 1;
        }

        .section-header {
            margin-top: 30px;
            background-color: #fff;  /* darker background for section headers */
            padding: 10px;
            color: #3c3c3c;
            /*font-weight: bold;  /* make the text bold */
            border-bottom: 1px solid;
        }

        .arrowhead {
            margin-top: 7px;
            display: inline-block;
            width: 7px;
            height: 7px;
            
            border-left: 1px solid #3c3c3c;
            border-bottom: 1px solid #3c3c3c;
            transform: rotate(-45deg);
            float: right;
            cursor: pointer;
            transition: transform 0.3s;
        }

        .arrowhead.closed {
            transform: rotate(-135deg);
        }


                /* Project Overview Styles */
        .general {
            background-color: #fefefe;/*#3c3c3c;  /* slightly darker background */
            border-bottom: 1px solid #3c3c3c;
        }

        .general-item {
            color: #3c3c3c;
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            /*border-bottom: 0.1px solid #3c3c3c;*/
            
        }

        /* ホバー時のスタイル */
        .general-item:hover, .project-item:hover {
            background-color: #2a2a2a; /* ホバー時の背景色 */
            color: #fff; /* ホバー時のテキスト色 */
        }

        /* 選択された項目のスタイル */
        .selected-item {
            background-color: #4d4d4d; /* 選択時の背景色 */
            color: #fff !important; /* 選択時のテキスト色を強制適用 */
        }


        .project-item {
            color: #3c3c3c;
            padding: 10px;
            display: block;  /* 初期状態で表示 */
            border-bottom: 0.1px solid #7f7f7f;
            cursor: pointer;
            transition: background-color 0.3s;
        }


        /*############################## TAB ITEM ##############################*/


        /*############################## IFRAME CONTENT ##############################*/


        .content-area {
            flex: 8;
            overflow: hidden;  /* 追加: コンテンツのオーバーフローを隠す */
            border-left: 1px solid #6c6c6c;
            /*border: none;*/
            height: calc(100vh - 32px);
            margin: 0;
            padding: 0;
        }


        .content-area-frame {
            width: 100%;
            height: calc(100vh - 32px); 
            border: none;  /* iframeのデフォルトの枠線を削除 */
            margin: 0;
            padding: 0;
        }

        .tab-content-frame {
            width: 100%;
            height: calc(100vh - 32px); 
            border: none;  /* iframeのデフォルトの枠線を削除 */
            margin: 0;
            padding: 0;
        }

        /* Adjust content area */
